html {
    background-color: #BCBF6B;
}

body {
    margin: 0;
}

p, h4 {
    margin: 0;
}

.menu-box {
    background-color: #BCBF6B;
    position: fixed;
    width: 100%;
}


.menu {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-bottom: 3px;
    font-family: 'graphia';
    font-size: 30px;
}

.name {
    color: #222601;
    font-family: 'paradose';
    font-size: 120px;
    padding: 0px;
    margin: 0px;
}

.ind-text {
    font-family: 'balance';
    font-size: 20px;
}

.ind-subtitle{
    font-family: 'migae';
    margin: 0;
    margin-top: 25px;
    margin-bottom: 10px;
}

.ind-blurb{
    padding-top: 10px;
}

.cont-box{
    width: 72%;
    margin-left: 14%;
}

.top-container {
    margin-left: 22.5%;
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*border-width: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 30px;*/
    padding-top: 80px;
}

.name-container {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.profile-photo {
    border-radius: 10px;
    margin-top: 20px;
    height: 350px;
    justify-content: right;
}

a {
    text-decoration: none;
    color: #222601;
}

a:hover {
    color: #3E4001;
}

.resume-box {
    width: 65%;
    margin-left: 15%;
    padding-left: 50px;
    padding-top: 55px;
    padding-bottom: 25px;
    font-size: 20px;
    background-color: #F2EAC2;
    justify-content: center;;
}

.resume-title {
    font-family: 'migae';
    margin: 0;
    margin-top: 25px;
    margin-bottom: 10px;
}
.resume-subtitle {
    margin: 0;
}

.resume-text {
    margin: 0;
    font-family: 'balance';
}

.edu-box-inner {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
}

.resume-category-flexbox {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.resume-sub-box{
    margin: 0;
    width: 40%;
    padding-right: 10px;
    /*background-color: #F2EAC2;
    border-radius: 10px;
    padding: 10px;
    margin-right: 15px;
    margin-bottom: 15px;*/
}

.download-button{
    width: 150px;
    font-size: 20px;
    background-color: #d94930;
    color: #222601;
    border-width: 2px;
    border-color: #222601;
    border-radius: 5px;
    border-style: solid;
    margin-right: 20px;
}

.download-button:hover{
    background-color: #3E4001;
}

.button-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.resume-date {
    margin: 0;
    font-style: italic;
}

.film-box{
    padding-top: 80px;
    width: 80%;
    margin-left: 10%;
}

.film-box-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.film-title{
    color: black;
    font-family: 'paradose';
    font-size: 100px;
    padding: 0;
    margin: 0;
}

.film-text{
    width: 40%;
    color: #222601;
}

.film-my-credit {
    font-family: 'paradose';
    font-size: 25px;
    padding-bottom: 20px;
}

.film-desc {
    font-family: 'balance';
    font-size: 20px;
}

.film-subtitle{
    font-family: 'migae';
    margin: 0;
    margin-top: 25px;
    margin-bottom: 10px;
}

.film-cont{
    width: 90%;
    margin-left: 5%;
}

.prog-break {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 2%;
    margin-right: 2%;
}

.prog-line{
    height: 3px;
    background-color: #222601;
    border: 0;
    width: 35%;
    margin-top: 28px;
}

.prog-text{
    margin: 0;
    font-family: 'paradose';
    font-size: 50px;
}

.cour-box{
    width: 80%;
    margin-left: 10%;
    margin-top: 60px;
}

.cour-box-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cour-title{
    color: black;
    font-family: 'paradose';
    font-size: 100px;
    padding: 0;
    margin: 0;
}

.cour-my-credit {
    font-family: 'paradose';
    font-size: 25px;
    padding-bottom: 20px;
}

.cour-subtitle{
    font-family: 'migae';
    margin: 0;
    margin-top: 25px;
    margin-bottom: 10px;
}

.cour-desc {
    font-family: 'balance';
    font-size: 20px;
}

.cour-text{
    width: 40%;
    color: #222601;
}

.cour-cont{
    width: 90%;
    margin-left: 5%;
}

.cour-photo{
    width: 600px;
    
}

@font-face {
    font-family: 'paradose';
    src: url(WsParadoseRegular-1jPAe.ttf);
}

@font-face {
    font-family: 'aiden';
    src: url(Aiden-v7DO.otf);
}

@font-face {
    font-family: 'graphia';
    src: url(BillionaRegular-jElgy.ttf);
}

@font-face {
    font-family: 'migae';
    src: url(MigaeSemibold-3zd2M.otf);
}

@font-face {
    font-family: 'balance';
    src: url(Balancegroovyregular-RpZzl.otf);
}